.project {
    height: 25vh;
    width: fit-content;
    border: thin solid lightgray;
    padding: 2vh 2vw 2vh 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 25vw;
    margin-bottom: 4vh;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 5px;
}

.project:nth-child(n+1) {
    margin-right: 1vw;
}

.title {
    width: 100%;
    text-transform: capitalize;
}

.watcher {
    width: fit-content;
    margin-right: 1vw;
}

.description {
    width: 100%;
}

.url {
    height: 4.5vh;
    background-color: #990011FF;
    border-radius: 10px;
    border-color: transparent;
    transition: 0.3s;
    margin-right: 0.5vw;
}

.url:hover {
    color: #990011FF;
    background-color: #FCF6F5FF;
    border-color: #990011FF
}

@media only screen and (min-width: 280px) and (max-width: 1280px) {
    .project {
        width: 90vw;
        height: 35vh;
    }

    .url {
        height: 6vh;
    }
}